/**{
    /* transition: 0.3s; 
}
/* #card{
    transition: 0.6s;
}
#card:hover{
    width: 500px;
    /* height: 30rem; */
  /*  cursor: pointer;
  }*/
/*form input{
    margin: 6px;
}
#card-image{
    transition: 0.4s;
}
#card-image:hover{
    width: 500px;
    /* height: 400px; *//*
}*/ 
body{
    margin: auto;
}
#card-a{
    transition: 0.6s;
    cursor: pointer;
}
#card-a:hover{
    width: 40rem;
}